*{margin:0;padding:0;}

.menu-cap3{
	list-style: none;
}
.menu-cap3 > li{
	float: left;
}
.menu-cap3 > li a{
	font-size: 16px;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
}
.menu-cap3 > li:last-child a{
	border-right: 0;
}
.menu-cap3 li{
	position: relative;
}
.menu-cap3 li .menu-sub{
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	box-shadow: 0px 1px 6px -4px #333;
	background-color: #ffffff;
	display: none;
}
.menu-cap3 li .menu-sub ul{
	top: 0;
	left: 100%;
}
.menu-cap3 li:hover > ul{
	display: block;
}
.menu-cap3 > li > a{
	display: block;
	position: relative;
	margin: 0 5px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	font-family: tienne;
	text-decoration: none;
	line-height: 60px;
}
.menu-cap3 > li:after{    
	content: "";    
	width: 0;    
	height: 5px;    
	background: #34c9dd;    
	position: absolute;    
	bottom: 0;    
	left: 0;    
	transition: all 0.5s ease 0s;
}


-----
.menu-cap2{
	list-style: none;
}
.menu-cap2 > li{
	float: left;
}
.menu-cap2 > li a{
	font-size: 16px;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #fff;
}
.menu-cap2 > li:last-child a{
	border-right: 0;
}
.menu-cap2 li{
	position: relative;
}
.menu-cap2 li .menu-sub{
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	box-shadow: 0px 1px 6px -4px #333;
	background-color: #2a18cf;
	display: none;
}
.menu-cap2 li .menu-sub ul{
	top: 0;
	left: 100%;
}
.menu-cap2 li:hover > ul{
	display: block;
}
.menu-cap2 > li > a{
	display: block;
	position: relative;
	margin: 0 5px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	font-family: tienne;
	text-decoration: none;
	line-height: 35px;
}
.menu-cap2 > li:after{    
	content: "";    
	width: 0;    
	height: 5px;    
	background: #34c9dd;    
	position: absolute;    
	bottom: 0;    
	left: 0;    
	transition: all 0.5s ease 0s;
}
	 