/*thanh tìm kiếm*/
.search-box {
    background: #fff;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}


    .search-box input {
        background: none;
        border: none;
        outline: none;
        float: left;
        padding: 0;
        width: 0px;
        transition: all 0.7s;
    }

    .search-box:hover input {
        width: 200px;
    }

    .search-box input:focus {
        width: 200px;
        padding: 0 4px;
    }

.search-button {
    background: none;
    outline: none;
    border: none;
    width: 10px;
    margin-top: -14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .search-button i {
        background: #0A67AF;
        z-index: 1;
        font-size: 15px;
        color: #fff;
        padding: 15px;
        border-radius: 50px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
        ;
    }

---

.navbar_menu ul li a {
    font-size: 13px;
    font-family: tienne;
    margin: 0 2px;
    text-decoration: none;
}

.bg-lightt {
    background: #0A67AF;
    height: 45px;
}

.nav-item {
    margin-left: 30px;
}

.nav-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

----
/* phần menu dưới */
.navbar_brand {
    width: auto;
}

.navbar-brand img {
    width: 90%;
    margin: 0px;
    height: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
/*sub-menu*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    font-weight: bold;
    font-family: tienne;
    list-style: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover > .dropdown-content > a.dropdown-item:hover {
    color: rgb(218, 173, 89);
}

a.navmenu-link:hover {
    color: rgb(218, 173, 89);
}

.back_light {
    background-color: rgba(228, 226, 226, 0.13);
    height: 70px;
}
/*.dropdown-content a{
        color: black;
        padding: 10px 10px;
        text-decoration: none;
    }*/
.gnb_list > li > a {
    display: block;
    position: relative;
    margin: 0 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: tienne;
    text-decoration: none;
    line-height: 70px;
}

.menu_drop {
    position: absolute;
    z-index: 1;
}

.nav_menu {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navmenu ul li {
    margin-left: 40px;
}

.nav_menu:hover {
    background: rgb(255, 255, 255);
}

    .nav_menu:hover a {
        color: rgb(63, 85, 207);
    }

a.navmenu-link:hover {
    color: rgb(218, 173, 89);
}

.nav_ul > li:after {
    content: "";
    width: 0;
    height: 5px;
    background: #34c9dd;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}

.nav_ul > li:hover:after {
    width: 100%;
}


/* Content body */

.content {
    width: 100%;
    height: auto;
}
/* phần body 1 */
.container_image1 {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

    .container_image1 .menu_img {
        width: 78%;
        background-color: rgb(255, 255, 255);
        margin: auto;
    }

.img_text {
    text-align: center;
}

    .img_text img {
        width: 100%;
        height: 50px;
        margin: 10px auto;
    }

    .img_text a {
        display: block;
        position: relative;
        color: rgba(5, 5, 5, 0.89);
        font-size: 16px;
        font-style: bold;
        font-family: tienne;
        text-decoration: none;
    }

a.navmenu-link2:hover {
    color: rgb(199, 23, 0);
    text-decoration: none;
}

/* phần body 2*/

.news {
    width: 92%;
    height: auto;
    background: #E9E9E9;
    margin: 25px 4%;
    padding-bottom: 15px;
}

.img_text img {
    width: 100%;
    justify-content: center;
}

.container_image h4 {
    margin-left: 60px;
}

.body_container {
    background: #F6F6F6;
    width: 100%;
    height: auto;
}

.navbar_menulogo {
    margin: 10px auto;
}

article h4 {
    border-bottom: 3px solid rgb(148, 148, 148);
    color: rgb(57, 10, 145);
    font-size: 25px;
}

.container_image {
    width: 90%;
    background-color: rgb(214, 214, 214);
    margin: 30px auto;
}

.text_img p {
    text-align: center;
    padding: auto;
}

.row_img {
    align-items: center;
    height: 300px;
}

@media (min-width: 768px) {
    .col_img {
        margin: 20px auto;
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col_img1 {
        max-width: 5%;
        flex: 0 0 5%;
        margin-top: 150px;
        color: brown;
        font-style: bold;
        font-size: 30px;
    }
}

.title_news {
    padding-top: 20px;
}

.logo_news img {
    float: right;
}

.title_rigt h5 {
    margin-bottom: -5px;
}

.title_rigt hr {
    color: #0A67AF;
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: 20px;
    border-style: initial;
    border-width: 1px;
}

/* Slide news */
@media (min-width: 768px) {
    .carousel {
        margin: 30px auto;
    }

        .carousel .carousel-item {
            text-align: center;
            overflow: hidden;
        }

            .carousel .carousel-item h4 {
                font-family: 'Varela Round', sans-serif;
            }

            .carousel .carousel-item img {
                max-width: 100%;
                display: inline-block;
            }

            .carousel .carousel-item .btn {
                border-radius: 0;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
                border: none;
                background: #a177ff;
                padding: 6px 15px;
                margin-top: 5px;
            }

                .carousel .carousel-item .btn:hover {
                    background: #8c5bff;
                }

                .carousel .carousel-item .btn i {
                    font-size: 14px;
                    font-weight: bold;
                    margin-left: 5px;
                }

        .carousel .thumb-wrapper {
            margin: 5px;
            text-align: left;
            background: #fff;
            box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
        }

        .carousel .thumb-content {
            padding: 15px;
            font-size: 13px;
            height: 200px;
        }

    .img-box img {
        width: 100%;
        height: 200px;
    }

    .carousel .thumb-content .date {
        background: url(../img/sprite.png) no-repeat -118px -4px;
        padding: 4px 0 0px 20px;
        color: #a9a9a9;
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 5px;
    }

    .carousel-control-prev, .carousel-control-next {
        height: 44px;
        width: 44px;
        background: none;
        margin: auto -20px;
        border-radius: 50%;
        border: 3px solid rgba(0, 0, 0, 0.8);
    }

        .carousel-control-prev i, .carousel-control-next i {
            font-size: 10px;
            position: absolute;
            display: inline-block;
            z-index: 5;
            left: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
            text-shadow: none;
            font-weight: bold;
        }

        .carousel-control-prev i {
            margin-left: 0px;
            ;
        }

    a.carousel-control-next {
        width: 44px;
        height: 44px;
    }

    a.carousel-control-prev {
        width: 44px;
        height: 44px;
    }

    .carousel-control-next i {
        width: auto;
        margin-right: 0px;
    }

    .carousel-indicators {
        bottom: -50px;
    }

        .carousel-indicators li, .carousel-indicators li.active {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 4px;
            border: none;
        }

        .carousel-indicators li {
            background: #ababab;
        }

            .carousel-indicators li.active {
                background: #555;
            }
}
/* Phần thông tin tuyển sinh */
.info {
    width: 92%;
    height: auto;
    background: #fff;
    margin: 25px 4%;
}

.grid_img_info {
    margin: 20px 10px 20px 10px;
}

    .grid_img_info .title_ts {
        margin-top: 10px;
    }

    .grid_img_info .title_ts {
        margin-top: 10px;
    }


/* Các ngành đào tạo */
.educate1 {
    width: 92%;
    height: auto;
    background: #E9E9E9;
    margin: 25px 4%;
    padding: 30px 20px 30px;
}
/* Hoatj động và liên kết*/
.work_and_link {
    width: 92%;
    height: auto;
    margin: 25px 4%;
}

    .work_and_link .work {
        height: 520px;
        background: #fff;
    }

    .work_and_link .owl-theme img {
        width: 94%;
        height: 400px;
    }

    .work_and_link .link {
        height: 815px;
        background: #fff;
    }

    .work_and_link .link-link {
        height: auto;
    }

    .work_and_link .link .links {
        text-align: center;
    }

    .work_and_link .links img {
        width: 90%;
        height: 70px;
        margin-top: 10px;
    }

    /* Liên kết khoa-viện*/
    .work_and_link .khoa_vien {
        height: 270px;
        margin-top: 25px;
        background: #fff;
    }

.logo_faculty img {
    width: 100%;
    height: 150px;
    padding: 15px;
}

.khoa-image {
    width: 100%;
    height: 50px;
}


/*Đối tác hợp tác*/
.partner {
    width: 92%;
    height: 150px;
    margin: 25px 4%;
    background: #E9E9E9;
}

    .partner img {
        width: 80px;
        height: 80px;
        margin-top: 40px;
    }

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

    /* The colour of the indicators */
    .blog .carousel-indicators li {
        background: #a3a3a3;
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }

    .blog .carousel-indicators .active {
        background: #707070;
    }


/* phần footer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

footer {
    position: relative;
    width: 100%;
    padding: 30px 70px;
    background: #0A67AF url(../img/footer_bgr.png) no-repeat center 0;
    box-shadow: 0 0 6px rgb(0 0 0 / 60%) inset;
    color: #b9c7d8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    footer .container_footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }

.contact_footer .info_footer {
    position: relative;
}

    .contact_footer .info_footer ul {
        padding-left: 0rem;
    }

    .contact_footer .info_footer li {
        display: flex;
        margin-bottom: 10px;
    }

        .contact_footer .info_footer li span:nth-child(1) {
            color: #fff;
            font-size: 20px;
            margin-right: 10px;
        }

        .contact_footer .info_footer li span {
            color: #fff;
        }

        .contact_footer .info_footer li a {
            color: #fff;
            text-decoration: none;
        }

/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
footer .container_footer .about_footer p {
    color: #fff;
}

.social-icon {
    margin-top: 20px;
    display: flex;
}

    .social-icon li {
        list-style: none;
    }

        .social-icon li a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #222;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            text-decoration: none;
            border-radius: 4px;
        }

            .social-icon li a:hover {
                background: #f00;
            }

            .social-icon li a .fa {
                color: #fff;
                font-size: 20px;
            }

.about_footer {
    align-items: left;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/

.links_footer h4 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

    .links_footer h4::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: #f00;
    }

.links_footer {
    position: relative;
    width: auto;
}

    .links_footer ul li {
        list-style: none;
    }

        .links_footer ul li a {
            color: #fff;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }

            .links_footer ul li a:hover {
                color: rgb(0, 0, 0);
            }

.link_xh {
    width: 100%;
}

    .link_xh .xhoi {
        float: left;
    }

        .link_xh .xhoi h4 {
            color: #fff;
            font-weight: 500;
        }

            .link_xh .xhoi h4::before {
                content: '';
                bottom: -5px;
                left: 0;
                width: 50px;
                height: 2px;
                background: #f00;
            }

    .link_xh .xhoi_right {
        height: 100%;
        vertical-align: bottom;
        float: right;
    }

        .link_xh .xhoi_right p {
            position: relative;
            margin-top: 70px;
            color: #fff;
        }

@media (max-width: 768px) {
    footer {
        padding: 40px;
    }

        footer .container_footer {
            flex-direction: column;
        }

            footer .container_footer .noi-dung {
                margin-right: 0;
                margin-bottom: 40px;
            }

        footer .container_footer, .noi-dung.about, .links, .contact {
            width: 100%;
        }
}


.owl-dots {
    text-align: center;
    margin-top: 0px;
}

.owl-dot {
    height: 8px;
    width: 40px;
    margin: 0 3px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc !important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

    .owl-dot.active,
    .owl-dot:hover {
        background: #0072bc !important;
    }

.owl-nav {
    text-align: center;
}

.owl-theme .col {
    height: 170px;
}

.col p {
    text-align: center;
}

