<footer>
    <div class="container_footer">
        <!--Bắt Đầu Nội Dung Giới Thiệu-->
        <div class="noi-dung about_footer">
            <img src="~/Assets/Client/img/logo_debuil1.png">
            <!--Bắt Đâu Nội Dung Liên Hệ-->
            <div class="contact_footer">
                <ul class="info_footer" style="padding-left: 0rem; padding-top: 1rem;">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>54 Nguyễn Lương Bằng</br> Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng 550000</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <span>+84 123 456 789</br>+84 987 654 321</span>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <span>WebAdmin@dut.udn.vn</span>
                    </li>
                </ul>
            </div>
            <!--Kết Thúc Nội Dung Liên Hệ-->
        </div>
        <!--Kết Thúc Nội Dung Giới Thiệu-->
        <!--Bắt Đầu Nội Dung Đường Dẫn-->
        <div class="noi-dung links_footer">
            <h4>Các Liên Kết Khác</h4>
            <ul style="padding-left: 0rem; padding-top: 2rem;">
                <li><a href="#">Thư viện</a></li>
                <li><a href="#">E_Learning</a></li>
                <li><a href="#">Hệ thống thông tin sinh viên</a></li>
                <li><a href="#">Hệ thống tác nghiệp</a></li>
            </ul>
        </div>
        <div class="noi-dung links_footer">
            <h4>Tuyển Sinh & Đào Tạo</h4>
            <ul style="padding-left: 0rem; padding-top: 2rem;">
                <li><a href="#">Thông tin tuyển sinh</a></li>
                <li><a href="#">Đào tạo đại học</a></li>
                <li><a href="#">Đào tạo sau đại học</a></li>
                <li><a href="#">Đào tạo thường xuyên</a></li>
                <li><a href="#">Văn bản pháp quy</a></li>
            </ul>
        </div>
        <div class="noi-dung links_footer">
            <h4>Lượng Truy Cập</h4>
            <ul style="padding-left: 0rem; padding-top: 2rem;">
                <li><a href="#">Tổng số lượt : 1.947.500</a></li>
                <li><a href="#">Đang online : 50</a></li>
            </ul>
        </div>
        <!--Kết Thúc Nội Dung Đường Dẫn-->
        <div class="link_xh">
            <div class="xhoi">
                <h4>Mạng Xã Hội</h4>
                <ul class="social-icon" style="padding-left: 0rem; padding-top: 0rem;">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="xhoi_right">
                <p>© Bản quyền Trường Đại học Bách khoa - Đại học Đà Nẵng</p>
            </div>
        </div>
    </div>
</footer>
